<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <script type="module" src="/scripts/menu.mjs" defer></script>
    <script type="module" src="/scripts/order.mjs" defer></script>
    <title>Menu</title>
</head>
<body>
    <section>
        <main class="split-view">
            <section class="split-view-side">
                <section class="top-bar">
                    <%- include("partials/logout.ejs") %>
                    <input 
                        class="grow"
                        type="text" 
                        name="search" 
                        id="menu-product-search" 
                        placeholder="search"
                    >
                    <select id="menu-product-sort">
                        <option value="highest rating">Highest Rating</option>
                        <option value="lowest rating">Lowest Rating</option>
                        <option value="highest price">Highest Price</option>
                        <option value="lowest price">Lowest Price</option>
                    </select>
                </section>
                <section class="card-list" id="menu-product-list">
                    Loading...
                </section>
                <section class="bottom-bar">
                    <input 
                        type="button" 
                        value="Send order to kitchen - $0.00" 
                        id="order-send"
                    >
                </section>
            </section>
            <section class="split-view-side">
                <section class="grow product-details" id="product-details">
                    <h2>Select a product to get started!</h2>
                </section>
                <section class="bottom-bar">
                    <input 
                        type="number" 
                        name="quantity" 
                        id="order-product-quantity" 
                        value="0" min="0"
                    >
                    <span class="grow" id="order-product-total">$0.00</span>
                    <input type="button" value="Update" id="order-product-update">
                </section>
            </section>
        </main>
    </section>
</body>
</html>