<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Status</title>
</head>
<body>
    <section>
        <main class="login-page">
            <h1>Order at Table App</h1>
            <span><%= message %></span>
        </main>
    </section>
</body>
</html>