body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

body > section {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    max-width: 1080px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.37);
}

body > section > main {
    height: 100%;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 300px;
}

.login-page form input {
    font-size: 20px;
}

.login-page form hr {
    width: 100%;
}

.logout-form {
    border-right: 1px solid black;
    padding-right: 10px;
}

.logout-form input[type="submit"] {
    display: block;
    height: 100%;
}

.top-bar, .bottom-bar {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: stretch;
    height: 50px;
}

.grow {
    flex-grow: 1;
}

.top-bar {
    border-bottom: 1px black solid;
}

.bottom-bar {
    border-top: 1px black solid;
}

.card-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
}

.card {
    padding: 10px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.37);
    margin: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.card > input[type="button"] {
    height: 40px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.grid-table {
    display: grid;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.grid-table.cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.split-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split-view-side {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.split-view-side:first-child {
    border-right: 1px black solid;
}

.product-details, .bill-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.product-details .icon {
    font-size: 100px;
}